**Program To find the biggest of two numbers**

In [ ]:
num1 = float(input("Enter First Number "))
num2 = float(input("Enter Second Number "))
if num1>num2:
  print(str(num1)+" is greater than "+str(num2))
else:
  print(str(num2)+" is greater than "+str(num1))

Enter First Number 20
Enter Second Number 10
20 is greater than 10

<style type="text/css">
.tg  {border-collapse:collapse;border-color:#93a1a1;border-spacing:0;}
.tg td{background-color:#fdf6e3;border-color:#93a1a1;border-style:solid;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#657b83;border-color:#93a1a1;border-style:solid;border-width:1px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-jokb{border-color:#000000;color:#009901;text-align:left;vertical-align:top}
.tg .tg-mcqj{border-color:#000000;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-mcqj">Test Case No:</th>
    <th class="tg-mcqj">Test Case Description</th>
    <th class="tg-mcqj">Test Data</th>
    <th class="tg-mcqj">Expected Result</th>
    <th class="tg-mcqj">Actual Result</th>
    <th class="tg-mcqj">Pass/Fail</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-73oq">1</td>
    <td class="tg-73oq">Giving First Number Greater <br>and Second Number Smaller</td>
    <td class="tg-73oq">num1=40<br>num2=20</td>
    <td class="tg-73oq">40 is greater than<br>20</td>
    <td class="tg-73oq">40 is greater than<br>20</td>
    <td class="tg-jokb"><span style="font-weight:bold">Pass</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">2</td>
    <td class="tg-73oq">Giving First Number Smaller <br>and Second Number Greater</td>
    <td class="tg-73oq">num1=30<br>num2=50</td>
    <td class="tg-73oq">50 is greater than <br>30</td>
    <td class="tg-73oq">50 is greater than <br>30</td>
    <td class="tg-jokb"><span style="font-weight:bold">Pass</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">3</td>
    <td class="tg-73oq">Giving Both Numbers Same</td>
    <td class="tg-73oq">num1=30<br>num2=30</td>
    <td class="tg-73oq">Both Numbers are<br>Same</td>
    <td class="tg-73oq">30 is greater than<br>30</td>
    <td class="tg-73oq"><span style="font-weight:bold;color:#FE0000">Fail</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">4</td>
    <td class="tg-73oq">Giving String as Input</td>
    <td class="tg-73oq">num1=a<br>num2=b</td>
    <td class="tg-73oq">Only Integers are<br>Possible</td>
    <td class="tg-73oq">ValueError</td>
    <td class="tg-73oq"><span style="font-weight:bold;color:#009901">Pass</span></td>
  </tr>
</tbody>
</table>

**Program to find the smallest of 3 numbers.**

In [ ]:
num1 = float(input("Enter First Number "))
num2 = float(input("Enter Second Number "))
num3 = float(input("Enter Third Number "))
if num1>num2:
  if num2>num3:
    print(str(num3)+" is the smallest number")
  else:
    print(str(num2)+" is the smallest number")
else :
  if num1>num3:
    print(str(num3)+" is the smallest number")
  else:
    print(str(num1)+" is the smallest number")

<style type="text/css">
.tg  {border-collapse:collapse;border-color:#93a1a1;border-spacing:0;}
.tg td{background-color:#fdf6e3;border-color:#93a1a1;border-style:solid;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#657b83;border-color:#93a1a1;border-style:solid;border-width:1px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-jokb{border-color:#000000;color:#009901;text-align:left;vertical-align:top}
.tg .tg-mcqj{border-color:#000000;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-mcqj">Test Case No:</th>
    <th class="tg-mcqj">Test Case Description</th>
    <th class="tg-mcqj">Test Data</th>
    <th class="tg-mcqj">Expected Result</th>
    <th class="tg-mcqj">Actual Result</th>
    <th class="tg-mcqj">Pass/Fail</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-73oq">1</td>
    <td class="tg-73oq">Giving the third number as <br>smallest</td>
    <td class="tg-73oq">num1=40<br>num2=20<br>num3=10</td>
    <td class="tg-73oq">10 is the smallest<br>number</td>
    <td class="tg-73oq">10 is the smallest<br>number</td>
    <td class="tg-jokb"><span style="font-weight:bold">Pass</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">2</td>
    <td class="tg-73oq">Giving the second number as <br>smallest</td>
    <td class="tg-73oq">num1=40<br>num2=5<br>num3=60</td>
    <td class="tg-73oq">5 is the smallest<br>number</td>
    <td class="tg-73oq">5 is the smallest<br>number</td>
    <td class="tg-jokb"><span style="font-weight:bold">Pass</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">3</td>
    <td class="tg-73oq">Giving the three numbers <br>same value</td>
    <td class="tg-73oq">num1=0<br>num2=0<br>num3=0</td>
    <td class="tg-73oq">Both Numbers are<br>Same</td>
    <td class="tg-73oq">0 is the smallest <br>number</td>
    <td class="tg-73oq"><span style="font-weight:bold;color:#FE0000">Fail</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">4</td>
    <td class="tg-73oq">Giving String as Input</td>
    <td class="tg-73oq">num1=a<br>num2=b<br>num3=c</td>
    <td class="tg-73oq">Only Integers are<br>Possible</td>
    <td class="tg-73oq">ValueError</td>
    <td class="tg-73oq"><span style="font-weight:bold;color:#009901">Pass</span></td>
  </tr>
</tbody>
</table>

**Program to find the distance between two points on a number line.**

In [23]:
position1=float(input("Enter the Initial Positon "))
position2=float(input("Enter the Final Positon "))
length = position2-position1
if length<0:
  length=length*-1
print("The distance is "+str(length))

Enter the Initial Positon 8.5
Enter the Final Positon 8.4
The distance is 0.09999999999999964

<style type="text/css">
.tg  {border-collapse:collapse;border-color:#93a1a1;border-spacing:0;}
.tg td{background-color:#fdf6e3;border-color:#93a1a1;border-style:solid;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#657b83;border-color:#93a1a1;border-style:solid;border-width:1px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-jokb{border-color:#000000;color:#009901;text-align:left;vertical-align:top}
.tg .tg-0slm{border-color:#000000;color:#009901;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-mcqj{border-color:#000000;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-mcqj">Test Case No:</th>
    <th class="tg-mcqj">Test Case Description</th>
    <th class="tg-mcqj">Test Data</th>
    <th class="tg-mcqj">Expected Result</th>
    <th class="tg-mcqj">Actual Result</th>
    <th class="tg-mcqj">Pass/Fail</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-73oq">1</td>
    <td class="tg-73oq">Giving Two Points Positive</td>
    <td class="tg-73oq">position1=10<br>position2=20</td>
    <td class="tg-73oq">The Distance is<br>10</td>
    <td class="tg-73oq">The Distance is<br>10</td>
    <td class="tg-jokb"><span style="font-weight:bold">Pass</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">2</td>
    <td class="tg-73oq">Giving One Point Positive <br>and another one negative</td>
    <td class="tg-73oq">position1=8<br>position2=-4</td>
    <td class="tg-73oq">The Distance is<br>12</td>
    <td class="tg-73oq">The Distance is<br>12</td>
    <td class="tg-jokb"><span style="font-weight:bold">Pass</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">3</td>
    <td class="tg-73oq">Giving Two Points as <br>negative</td>
    <td class="tg-73oq">position1=-4<br>position2=-5</td>
    <td class="tg-73oq">The Distance is<br>5</td>
    <td class="tg-73oq">The Distance is<br>5</td>
    <td class="tg-0slm"><span style="font-weight:bold;color:#009901">Pass</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">4</td>
    <td class="tg-73oq">Giving Both Points Same<br>value</td>
    <td class="tg-73oq">position1=4<br>position2=4</td>
    <td class="tg-73oq">The Distance is<br>0</td>
    <td class="tg-73oq">The Distance is<br>0</td>
    <td class="tg-0slm"><span style="font-weight:bold;color:#009901">Pass</span></td>
  </tr>
</tbody>
</table>

**Program to check whether a number is two digit or not**

In [26]:
num = float(input("Enter the Number "))
if num>=10 and num<=99:
  print(str(num)+" is a two digit number")
else :
    print(str(num)+" is not a two digit number")

Enter the Number 87
87.0 is a two digit number

<style type="text/css">
.tg  {border-collapse:collapse;border-color:#93a1a1;border-spacing:0;}
.tg td{background-color:#fdf6e3;border-color:#93a1a1;border-style:solid;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#657b83;border-color:#93a1a1;border-style:solid;border-width:1px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-jokb{border-color:#000000;color:#009901;text-align:left;vertical-align:top}
.tg .tg-0slm{border-color:#000000;color:#009901;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-mcqj{border-color:#000000;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-mcqj">Test Case No:</th>
    <th class="tg-mcqj">Test Case Description</th>
    <th class="tg-mcqj">Test Data</th>
    <th class="tg-mcqj">Expected Result</th>
    <th class="tg-mcqj">Actual Result</th>
    <th class="tg-mcqj">Pass/Fail</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-73oq">1</td>
    <td class="tg-73oq">Giving a two digit number</td>
    <td class="tg-73oq">num = 50</td>
    <td class="tg-73oq">50 is a two digit<br>num</td>
    <td class="tg-73oq">50 is a two digit<br>num</td>
    <td class="tg-jokb">Pass</td>
  </tr>
  <tr>
    <td class="tg-73oq">2</td>
    <td class="tg-73oq">Giving a three digit number</td>
    <td class="tg-73oq">num = 100</td>
    <td class="tg-73oq">100 is not a<br>two digit num</td>
    <td class="tg-73oq">100 is not a<br>two digit num</td>
    <td class="tg-jokb">Pass</td>
  </tr>
  <tr>
    <td class="tg-73oq">3</td>
    <td class="tg-73oq">Giving a string</td>
    <td class="tg-73oq">num = a</td>
    <td class="tg-73oq">String not possible</td>
    <td class="tg-73oq">ValueError</td>
    <td class="tg-0slm"><span style="font-weight:bold;color:#009901">Pass</span></td>
  </tr>
</tbody>
</table>

**Program to check whether a number is positive , negative or zero.**

In [27]:
num = float(input("Enter a Number "))
if num>0:
  print("Positive")
elif num<0:
  print("Negative")
else :
  print("Zero")

Enter a Number -100
Negative

Test<style type="text/css">
.tg  {border-collapse:collapse;border-color:#93a1a1;border-spacing:0;}
.tg td{background-color:#fdf6e3;border-color:#93a1a1;border-style:solid;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#657b83;border-color:#93a1a1;border-style:solid;border-width:1px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-jokb{border-color:#000000;color:#009901;text-align:left;vertical-align:top}
.tg .tg-0slm{border-color:#000000;color:#009901;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-mcqj{border-color:#000000;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-mcqj">Test Case No:</th>
    <th class="tg-mcqj">Test Case Description</th>
    <th class="tg-mcqj">Test Data</th>
    <th class="tg-mcqj">Expected Result</th>
    <th class="tg-mcqj">Actual Result</th>
    <th class="tg-mcqj">Pass/Fail</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-73oq">1</td>
    <td class="tg-73oq">Inputting a positive number</td>
    <td class="tg-73oq">num = 50</td>
    <td class="tg-73oq">Positive</td>
    <td class="tg-73oq">Positive</td>
    <td class="tg-jokb">Pass</td>
  </tr>
  <tr>
    <td class="tg-73oq">2</td>
    <td class="tg-73oq">Inputting a negative number</td>
    <td class="tg-73oq">num = -100</td>
    <td class="tg-73oq">Negative</td>
    <td class="tg-73oq">Negative</td>
    <td class="tg-jokb">Pass</td>
  </tr>
  <tr>
    <td class="tg-73oq">3</td>
    <td class="tg-73oq">Inputting zero</td>
    <td class="tg-73oq">num = 0</td>
    <td class="tg-73oq">Zero</td>
    <td class="tg-73oq">Zero</td>
    <td class="tg-0slm"><span style="font-weight:bold;color:#009901">Pass</span></td>
  </tr>
</tbody>
</table>

**Program to check whether a number is a multiple of another**

In [ ]:
divident=float(input("Enter the first number "))
divisor = float(input("Enter the multiple number "))
if divident%divisor==0:
  print(str(divident)+" is a multiple of "+str(divisor))
else:
  print(str(divident)+" is not a multiple of "+str(divisor))

<style type="text/css">
.tg  {border-collapse:collapse;border-color:#93a1a1;border-spacing:0;}
.tg td{background-color:#fdf6e3;border-color:#93a1a1;border-style:solid;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#657b83;border-color:#93a1a1;border-style:solid;border-width:1px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0slm{border-color:#000000;color:#009901;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-mcqj{border-color:#000000;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-mcqj">Test Case No:</th>
    <th class="tg-mcqj">Test Case Description</th>
    <th class="tg-mcqj">Test Data</th>
    <th class="tg-mcqj">Expected Result</th>
    <th class="tg-mcqj">Actual Result</th>
    <th class="tg-mcqj">Pass/Fail</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-73oq">1</td>
    <td class="tg-73oq">Giving a real multiple as input</td>
    <td class="tg-73oq">dividend = 4<br>divisor = 2</td>
    <td class="tg-73oq">4 is a multiple of<br>2</td>
    <td class="tg-73oq">4 is a multiple of<br>2</td>
    <td class="tg-0slm"><span style="font-weight:bold;color:#009901">Pass</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">2</td>
    <td class="tg-73oq">Giving a non multiple as input</td>
    <td class="tg-73oq">dividend = 5<br>divisor = 3</td>
    <td class="tg-73oq">5 is not a <br>multiple of 3</td>
    <td class="tg-73oq">5 is not a <br>multiple of 3</td>
    <td class="tg-0slm"><span style="font-weight:bold;color:#009901">Pass</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">3</td>
    <td class="tg-73oq">Giving divisor as 0</td>
    <td class="tg-73oq">dividend = 5<br>divisor = 0</td>
    <td class="tg-73oq">5 is not a multiple<br>of 0</td>
    <td class="tg-73oq">Zero Division <br>Error</td>
    <td class="tg-0slm">Fail</td>
  </tr>
</tbody>
</table>

**Program to find the smallest digit in a two digit number.**

In [ ]:
num = int(input("Enter the Two Digit Number"))
digit1=num%10
digit2=num//10
if digit1>digit2:
  print(str(digit2)+" is the smallest digit in "+str(num))
elif digit1==digit2:
  print("Both digits are same")
else :
  print(str(digit1)+" is the smallest digit in "+str(num))

Test<style type="text/css">
.tg  {border-collapse:collapse;border-color:#93a1a1;border-spacing:0;}
.tg td{background-color:#fdf6e3;border-color:#93a1a1;border-style:solid;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#657b83;border-color:#93a1a1;border-style:solid;border-width:1px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0slm{border-color:#000000;color:#009901;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-mcqj{border-color:#000000;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-mcqj">Test Case No:</th>
    <th class="tg-mcqj">Test Case Description</th>
    <th class="tg-mcqj">Test Data</th>
    <th class="tg-mcqj">Expected Result</th>
    <th class="tg-mcqj">Actual Result</th>
    <th class="tg-mcqj">Pass/Fail</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-73oq">1</td>
    <td class="tg-73oq">Giving both digits same</td>
    <td class="tg-73oq">num = 99</td>
    <td class="tg-73oq">Both are Same</td>
    <td class="tg-73oq">Both are Same</td>
    <td class="tg-0slm"><span style="font-weight:bold;color:#009901">Pass</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">2</td>
    <td class="tg-73oq">Giving a Random Number</td>
    <td class="tg-73oq">num = 50</td>
    <td class="tg-73oq">0 is the smallest<br>number in 50</td>
    <td class="tg-73oq">0 is the smallest<br>number in 50</td>
    <td class="tg-0slm"><span style="font-weight:bold;color:#009901">Pass</span></td>
  </tr>
</tbody>
</table>

**Program to print the nature of solution of a quadratic equation**

In [ ]:
a = float(input("Enter the co-efficient of x^2 "))
b = float(input("Enter the co-efficient of x "))
c = float(input("Enter the constant term "))
d = b*b-(4*a*c)
if d==0:
  print("Real and equal roots")
elif d>0:
  print("Real and unequal roots")
else:
  print("Imaginary Root")

<style type="text/css">
.tg  {border-collapse:collapse;border-color:#93a1a1;border-spacing:0;}
.tg td{background-color:#fdf6e3;border-color:#93a1a1;border-style:solid;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#657b83;border-color:#93a1a1;border-style:solid;border-width:1px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0slm{border-color:#000000;color:#009901;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-mcqj{border-color:#000000;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-mcqj">Test Case No:</th>
    <th class="tg-mcqj">Test Case Description</th>
    <th class="tg-mcqj">Test Data</th>
    <th class="tg-mcqj">Expected Result</th>
    <th class="tg-mcqj">Actual Result</th>
    <th class="tg-mcqj">Pass/Fail</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-73oq">1</td>
    <td class="tg-73oq">Checking with random <br>number</td>
    <td class="tg-73oq">a = 15<br>b = 11<br>c = 2</td>
    <td class="tg-73oq">Real and uequal <br>roots</td>
    <td class="tg-73oq">Real and uequal <br>roots</td>
    <td class="tg-0slm"><span style="font-weight:bold;color:#009901">Pass</span></td>
  </tr>
</tbody>
</table>